---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---
<BaseLayout title="Elements - Editorial by HTML5 UP">
  <Fragment slot="header">
    <Header />
  </Fragment>

  <section>
    <header class="main">
      <h1>Elements</h1>
    </header>

    <h2 id="content">Sample Content</h2>
    <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc.</p>

    <div class="row">
      <div class="col-6 col-12-small">
        <h3>Sem turpis amet semper</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare.</p>
      </div>
      <div class="col-6 col-12-small">
        <h3>Magna odio tempus commodo</h3>
        <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet.</p>
      </div>
    </div>

    <hr class="major" />

    <h3>Form (static demo)</h3>
    <form method="post" action="#">
      <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
          <input type="text" name="demo-name" placeholder="Name" />
        </div>
        <div class="col-6 col-12-xsmall">
          <input type="email" name="demo-email" placeholder="Email" />
        </div>
        <div class="col-12">
          <textarea name="demo-message" placeholder="Enter your message" rows="6"></textarea>
        </div>
        <div class="col-12">
          <ul class="actions">
            <li><input type="submit" value="Send Message" class="primary" /></li>
            <li><input type="reset" value="Reset" /></li>
          </ul>
        </div>
      </div>
    </form>
  </section>

  <Fragment slot="sidebar">
    <Sidebar />
  </Fragment>
</BaseLayout>
