---
const { icon = 'fa-gem', title = 'Feature', text = '' } = Astro.props;
---
<article>
  <span class={`icon ${icon}`}></span>
  <div class="content">
    <h3>{title}</h3>
    <p>{text}</p>
  </div>
</article>
